<!--begin::Form-->
<form class="form w-100" novalidate="novalidate" id="itsci_register_form" action="profile" method="POST">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <!--begin::Title-->
    <h1 class="text-dark fw-bolder mb-3">ข้อมูลนักศึกษา</h1>
    <!--end::Title-->
  </div>
  <!--begin::Heading-->

  <!--begin::userId-->
  <input type="hidden" name="liff" id="liff" value="<%- liff %>" />
  <input type="hidden" name="_id" id="_id" />
  <input type="hidden" name="lineId" id="lineId" />
  <input type="hidden" name="accessTokenHash" id="accessTokenHash" />
  <!--end::userId-->

  <!--begin::Input group--->
  <div class="fv-row mb-8">
    <!--begin::Email-->
    <input type="text" placeholder="รหัสนักศึกษา" name="studentId" autocomplete="off" id="studentId"
      class="form-control bg-transparent" />
    <!--end::Email-->
  </div>

  <!--begin::Input group--->
  <div class="fv-row mb-8">
    <!--begin::firstName Tnai-->
    <input type="text" placeholder="ชื่อ" name="firstName" readonly="true" id="firstName" autocomplete="off"
      class="form-control bg-transparent" />
    <!--end::firstName Tnai-->
  </div>

  <!--begin::Input group--->
  <div class="fv-row mb-8">
    <!--begin::firstName Tnai-->
    <input type="text" placeholder="นามสกุล" name="lastName" readonly="true" id="lastName" autocomplete="off"
      class="form-control bg-transparent" />
    <!--end::firstName Tnai-->
  </div>

  <!--begin::Input group--->
  <div class="fv-row mb-8">
    <!--begin::firstName Tnai-->
    <input type="text" placeholder="ชื่อเล่น" name="nickname" readonly="true" id="nickname" autocomplete="off"
      class="form-control bg-transparent" />
    <!--end::firstName Tnai-->
  </div>

  <!--begin::Submit button-->
  <div class="d-grid mb-10">
    <button type="submit" id="itsci_register_submit" class="btn btn-primary">
      ตกลง
    </button>
  </div>
  <!--end::Submit button-->
</form>
<!--end::Form-->